body {
    max-width: 1600px;
    margin: auto;
}

h1 {
	background-color: #4267b2;
	color: white;
    padding: 4pt;
    margin: 0;
}

h1 span {
    float: right;
    font-size: medium;
    display: inline-block;
}

div#footer {
    background-color: #4267b2;
    color: white;
    padding: 4pt;
    margin: 0;
    margin-top: 2em;
    clear: both;
}

span.infolink a {
    color: white;
    font-weight: bold;
    font-style: italic;
}

span.version {
    float: right;
    font-size: medium;
    display: inline-block;
    padding-right: 1em;
    color: white;
}

#system-map img {
    border: 1px solid #4267b2;
    margin: 2pt;
    float: left;
}

table#galaxy_map {
    border-spacing: 0;
    background-color: black;
    color: white;
    font-size: large;
}

table#galaxy_map td, th {
    margin: 0;
    text-align: center;
}

table#galaxy_map td {
    border: 1px solid white;
}

table#galaxy_map th {
    border: none;
}

div#main-content {
    margin: 0;
}

ul.wg-menu {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: large;
    margin-top: 2em;
}

ul.wg-menu li {
    display: inline-block;
    background-color: #000077;
    color: white;
    font-size: large;
    margin-left: 0.25em;
    margin-right: 0.25em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 25% 25% 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

ul.wg-menu li:hover {
    background-color: #3333aa;
    color: black;
    cursor: pointer;
}

ul.wg-menu li.selected {
    font-size: x-large;
    font-weight: bold;
}

div.header-stats {
    background-color: #4267b2;
    border-top: 1px solid white;
    padding-left: 1em;
}

dl.statistics dt {
    display: inline-block;
}

dl.statistics dd {
    display: inline;
    margin-right: 2em;
}

dl.statistics dt::after {
    content: ":"
}

div#main-content {
    border: 2px solid #000077;
    margin-top: 0px;
}

dl.data-block {
    float: left;
}

dl.data-block dt {
    float: left;
    clear: left;
    width: 8em;
    text-align: right;
    font-weight: bold;
}

dl.data-block dt::after {
    content: ":";
}

dl.data-block dd {
    margin: 0 0 0 9em;
    padding: 0 0 0.5em 0.25em;
}

div.planet-controls {
    float: right;
    width: 800px;
}

div.planet-map {
    border: 2px solid black;
    float: right;
    width: 800px;
    height: 400px;
}

ul.resource-list {
    float: right;
}

ul.resource-list li {
    display: inline-block;
    text-align: center;
    margin: 2px;
}

ul.resource-list li span {
    font-weight: bold;
}

ul.sector_neighbours {
    font-size: large;
    margin-left: 0;
    padding-left: 0;
}

ul.sector_neighbours li {
    display: inline-block;
    border: 1px solid black;
    padding: 0 1em 0 1em;
    border-radius: 5px;
}

ul.sector_neighbours li:hover {
    background-color: #3333aa;
    color: white;
    text-decoration: none;
}

div.planet-resources {
    clear: right;
    float: right;
}

table.systemlist th {
    text-align: left;
}

div.moon {
    padding-left: 8px;
    border-left: 16px solid #bbbbbb;
    margin-bottom: 32px;
}


a#home {
    background-image: url('/icons/galaxy.png');
    display: inline-block;
    border: 1px solid black;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
    float: left;
}

a#home:hover {
    text-decoration: none;
}
