<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link href="css/worldgen.css" rel="stylesheet" type="text/css"/>
  <title>Galaxy Map : $name</title>

    #set ( $width = $maxX - $minX + 1 )
    #set ( $height = $maxY - $minY + 1 )
</head>

<body>
<div class="container-fluid">
  <h1>$name</h1>


  <table id="galaxy_map">
    <tr>
      <th>C / S</th>
        #foreach($x in [$minX..$maxX])
          <th>$x</th>
        #end
      <th>C / T</th>
    </tr>

      #foreach($y in [$minY..$maxY])
        <tr>
          <th>$y</th>
            #foreach($x in [$minX..$maxX])
              <td id="sector_${x}_${y}" title='${sectors.get("${x}_${y}")}'>
                <img src="/api/sector/${x},${y}/image/survey" width="128" height="160"
                     onclick="location.href='/sector/${x},${y}'"/>
              </td>
            #end
          <th>$y</th>
        </tr>
      #end

    <tr>
      <th>R / S</th>
      #foreach($x in [$minX..$maxX])
        <th>$x</th>
      #end
      <th>R / T</th>
    </tr>
  </table>

  <div id="footer">
    <span class="infolink"><a href="https://www.notasnark.net/worldgen/">WorldGen</a> by Samuel Penn</span>
    <span class="version"><strong>Version:</strong> <em>${version}</em></span>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

</body>
</html>
